/* Reset and base styles  */
::-webkit-scrollbar-track {
  padding: 2px;
  background-color: var(--main-black);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-black);
}

::-webkit-scrollbar-thumb {
  background: var(--main-white);
  border-radius: 5px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

table,
thead,
tfoot,
tbody,
tr,
th {
  font-weight: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

[hidden] {
  display: none !important;
}

[disabled="disabled"],
[disabled="true"],
[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

section {
  height: 70vh;
  display: flex;
  align-items: center;
}

body {
  font-family: "TT Norms Pro";
  background: var(--main-black);
  color: var(--main-white);
  min-width: 360px;
  font-size: 10px;
  position: relative;
}

@media (max-width: 1200px) {
  body {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 6px;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.link {
  position: relative;
}

.title {
  font-size: 3rem;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.link::after {
  position: absolute;
  content: "";
  top: 102%;
  left: -1%;
  width: 0%;
  height: 1px;
  background-color: var(--main-white);
  transition: 0.2s;
}

.link:hover::after {
  width: 102%;
}

.with-divider {
  border-bottom: 1px solid rgb(236, 219, 186, 0.1);
}
